apiVersion: apps/v1
kind: Deployment
metadata:
  name: micro-magentic-one-user
  namespace: micro-magentic-one
  labels:
    app: user
    project: micro-magentic-one
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user
  template:
    metadata:
      labels:
        app: user
        project: micro-magentic-one
    spec:
      containers:
        - name: user
          image: docker.io/minuk0815/micro-magentic-one-user:0.0.24 # Tag version should be correct.
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: micro-magentic-one-config
          volumeMounts:
            - name: shared-data
              mountPath: /data # Container 내부에 mountPath (여기서는 /data)가 pvc에 연결되어 있음을 의미.
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              cpu: "1"
              memory: "1Gi"
            limits:
              cpu: "2"
              memory: "2Gi"
      volumes:
        - name: shared-data
          persistentVolumeClaim:
            claimName: micro-magentic-one-pvc # pod 전체 수준에서, 이 pod가 어떤 스토리지를 쓸 수 있는지 지정.
---
apiVersion: v1
kind: Service
metadata:
  name: user
  namespace: micro-magentic-one
  labels:
    app: user
    project: micro-magentic-one
spec:
  selector:
    app: user
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  type: ClusterIP